* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1 .titulo {
text-align:center;
}
header {
    background-color: saddlebrown;
    padding: 10px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    color: white;
}

.logo {
    height: 100px;
    width: auto;
    object-fit: contain;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: yellow;
    font-size: 20px;
}

body h2{

padding-bottom: 200px;
background-color: blue;

}

#Motores {
  background-color: darkred;
}

#Pneus {
  background-color: darkgreen;
}

#Autopeças {
  background-color: navy;
}

#AmortecedoreseSuspensões {
  background-color: purple;
}
